[user]
	email = sroberts994@gmail.com
	name = Steven Roberts
[credential]
	username = Steven-Roberts
	helper = "!f() { test \"$1\" = get && echo password=`bw get item GitHub < /dev/tty | jq -r '.fields[0].value'`; }; f"
[alias]
	unstage = reset HEAD --
	uncommit = reset HEAD~
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	co = checkout
	c = commit
	st = status
[push]
	default = current

